/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff9e6; /* very light yellow */
}

/* Top Navigation */
nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 25px;
    background: rgba(0, 0, 0, 0.55);
    border-bottom-left-radius: 12px;
    z-index: 20;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* HERO SECTION */
.hero {
    background-image: url('https://static01.nyt.com/images/2018/04/05/sports/05MASTERSTWELVE-INYT1/05MASTERSTWELVE-INYT1-superJumbo.jpg?quality=90&auto=webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero h1 {
    font-size: 4.5rem;
    margin: 0;
}

/* Section Navigation */
.section-nav {
    max-width: 900px;
    margin: 30px auto;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
}

.section-nav a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}

.section-nav a:hover {
    text-decoration: underline;
}

/* Content */
.content {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    scroll-margin-top: 120px;
}

html {
    scroll-behavior: smooth;
}

/* Lists */
ol li ul {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 25px;
}

/* Tableau */
.tableau-container {
    text-align: center;
    margin: 40px 0;
    max-width: 1000px; /* smaller width */
    padding-left: 30px;
    padding-right: 30px;
}

.tableau-container object {
    max-width: 100%;
}

/* Video */
.video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content p {
    margin-bottom: 25px;
}
